/* Full page section styling */
.page-section {
  width: 100%;
  min-height: 100vh; /* Ensure the section takes up the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 50px;
  box-sizing: border-box; /* Ensure padding is included in the height */
}

/* Main header section styling */
.main-header h1 {
  font-size: 6rem; /* Large text for the main header */
  color: white;
  text-align: center;
}

.main-header p {
  font-size: 2rem; /* Increase font size for tagline */
  color: white;
  text-align: center;
}

/* About Us Section */
.about-section h2 {
  font-size: 3.5rem; /* Larger font size for the About Us heading */
}

.about-section p {
  font-size: 1.5rem; /* Larger font size for the paragraph */
  line-height: 2rem;
  text-align: center;
}

/* Workout Section */
.workout-section h2 {
  font-size: 3rem; /* Larger font size for the Record a Video heading */
}

.controls button, .controls select {
  font-size: 1.3rem; /* Larger font size for buttons and dropdown */
}

/* Progress Section */
.progress-section h2 {
  font-size: 3rem; /* Larger font size for Progress Tracker heading */
}

.progress-container input {
  font-size: 1.5rem; /* Larger font size for input fields */
}

.submit-btn {
  font-size: 1.5rem; /* Larger font size for Submit button */
}
